.container .full-tweets-container .new-tweet-container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 2em 2em; }
  .container .full-tweets-container .new-tweet-container .tweet-header {
    display: flex;
    align-items: center;
    background-color: lightgray;
    height: 80px;
    width: 100%;
    opacity: .7; }
    .container .full-tweets-container .new-tweet-container .tweet-header .tweet-header-image {
      align-items: center;
      justify-content: flex-start;
      padding: 0 .5em; }
    .container .full-tweets-container .new-tweet-container .tweet-header .tweet-name-handle-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%; }
      .container .full-tweets-container .new-tweet-container .tweet-header .tweet-name-handle-container h2 {
        margin-right: auto;
        align-self: flex-start; }
      .container .full-tweets-container .new-tweet-container .tweet-header .tweet-name-handle-container span {
        align-self: flex-start;
        margin-left: auto;
        padding: 5px; }
  .container .full-tweets-container .new-tweet-container .tweet-body {
    font-size: 19px;
    padding-left: 10px; }
  .container .full-tweets-container .new-tweet-container .tweet-footer {
    display: flex;
    align-items: center;
    border-top: 1px solid lightgray;
    padding-left: 10px; }
    .container .full-tweets-container .new-tweet-container .tweet-footer .footer-icons {
      margin-left: auto;
      padding-right: 10px;
      display: none; }

.container .full-tweets-container .new-tweet-container:hover {
  border: 1px solid darkgray; }

.container .full-tweets-container .new-tweet-container:hover .tweet-header {
  opacity: 1; }

.container .full-tweets-container .new-tweet-container:hover .footer-icons {
  display: inline-block; }
