.container .compose-tweet {
  background-color: #eee;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 1em 6em 0 6em;
  padding: 1em; }
  .container .compose-tweet h2 {
    border-bottom: 2px solid black; }
  .container .compose-tweet textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    padding: 30px 10px 10px 10px; }
  .container .compose-tweet .counter, .container .compose-tweet .counterRed {
    float: right;
    padding-right: 10px; }
  .container .compose-tweet .counterRed {
    color: red; }

.container .error-message {
  background-color: pink;
  border-radius: 4px;
  margin: 0 6em;
  padding: 1em;
  display: none; }
